@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

:root {
  background: black;
}

body {
  height: 100vh;
  background: black;

  /* padding-inline:min(5vw,20em); */
}
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
