@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

:root {
  background: black;
  scroll-behavior: smooth;
}

body {
  height: 100svh;
  display: flex;
  flex-direction: column;
  background: black;
}
